/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #ffffff;
    color: #222;
}

/* Header */

header {
    background-color: #004080;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}
